<h1>Burgers!</h1>

<h2>Burger is ready!</h2>

<ul>
  {{#each burgers}} {{#unless devoured}}
  <li>
    <p>
      {{this.id}}. {{this.burger_name}}

      <button data-burgerid="{{this.id}}" class="devoir">Eat me!!</button>
      <textarea id= "client_name" type="text" name="client_name"></textarea>
    </p>
  </li>
  {{/unless}} {{/each}}
</ul>

<h2>Burger was devoured!</h2>
<ul>
  {{#each burgers}} {{#if devoured}}
  <p>
    {{this.id}}.{{this.burger_name}}. {{this.client_name}}
  </p>
  {{/if}} {{/each}}
</ul>

<h2>Create a Burger</h2>
<form id="createBurger" class="button-size" action="POST">
  <textarea type="text" name="burger"></textarea>
  <button type="submit">Submit order!</button>
</form>



<script type="text/javascript">

  $(function () {
    $(".devoir").on("click", function (event) {

      console.log("estoy dentro del boton devorar");
      var id = $(this).data("burgerid");
      var client_name = $("#client_name").val();
      console.log("estoy en boton este es el nombre del cliente " + client_name);
      var state = {
        devoured: true,
        client_name: client_name
      };
      console.log("nombre del cliente en el on=bjeto state" +state)
      // Send the PUT request.
      $.ajax("/api/burgers/" + id, {
        type: "PUT",
        data: state
      }).then(
        function () {
          console.log("estado cambio a devorada", state);
          // Reload the page to get the updated list
          location.reload();
        }
      );
    });

    $("#createBurger").on("submit", function (event) {
      // Make sure to preventDefault on a submit event.
      event.preventDefault();

      var newBurger = {
        burger_name: $("#createBurger [name=burger]").val().trim(),

        devoured: false
      };
      console.log("object in the handlebars" + newBurger.burger_name, newBurger.devoured);
      // Send the POST request.
      $.ajax("/api/burgers", {
        type: "POST",
        data: newBurger
      }).then(
        function () {
          console.log("created new burger");
          // Reload the page to get the updated list
          location.reload();
        }
      );
    });
  });


</script>